body {
  background-color: rgb(181, 213, 245);
  font-family: "Poppins", "Playfair Display", "Roboto";
}

.postContainer {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #7a7a7a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.postContainer .post-title {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat";
}
.postContainer .post-body {
  color: #666;
  font-size: 14px;
  font-family: "Roboto";
}
.searchButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.searchIcon {
  font-size: 17px;
  color: #333;
}

.searchButton:hover .searchIcon {
  color: #0056b3;
}
header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
button:hover {
  color: #0056b3;
}

.commentCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 12px 0;
  border-radius: 10px;
  background-color: #5dacec;
}

.postCard {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 9px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#postId {
  border-radius: 10px;
  color: #666;
}
