body {
  background-color: rgb(181, 213, 245);
  font-family: "Poppins", "Playfair Display", "Roboto";
}

.postContainer {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #7a7a7a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.postContainer .postTitle {
  font-size: 18px;
  color: #333;
  font-family: "Montserrat";
}
.postContainer .postBody {
  color: #666;
  font-size: 14px;
  font-family: "Roboto";
}
.searchBtn {
  background-color: #3498db;
  border: none;
  padding: 0;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
button:hover {
  background-color: #2980b9;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.commentCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 12px 0;
  border-radius: 10px;
  background-color: #5dacec;
  margin-bottom: 15px;
}

.postCard {
  border: 1px solid #e3e6ea;
  padding: 12px;
  margin: 15px 0;
  border-radius: 9px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#postId {
  border-radius: 10px;
  color: #686868;
}
